@page "/People/edit"
@inject Financias.Models.PeopleContext DB
@using Financias.Models
@inject NavigationManager NavigationManager
@using Microsoft.EntityFrameworkCore

<PageTitle>Edit</PageTitle>

<h1>Edit</h1>

<h4>People</h4>
<hr />
@if (People is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <EditForm method="post" Model="People" OnValidSubmit="UpdatePeople" FormName="edit" Enhance>
                <DataAnnotationsValidator />
                <ValidationSummary />
                <input type="hidden" name="People.Id" value="@People.Id" />
                <div class="mb-3">
                    <label for="name" class="form-label">Name:</label>
                    <InputText id="name" @bind-Value="People.Name" class="form-control" />
                    <ValidationMessage For="() => People.Name" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description:</label>
                    <InputText id="description" @bind-Value="People.Description" class="form-control" />
                    <ValidationMessage For="() => People.Description" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="phone" class="form-label">Phone:</label>
                    <InputNumber id="phone" @bind-Value="People.Phone" class="form-control" />
                    <ValidationMessage For="() => People.Phone" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="startofhosting" class="form-label">StartOfHosting:</label>
                    <InputDate id="startofhosting" @bind-Value="People.StartOfHosting" class="form-control" />
                    <ValidationMessage For="() => People.StartOfHosting" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="endofhosting" class="form-label">EndOfHosting:</label>
                    <InputDate id="endofhosting" @bind-Value="People.EndOfHosting" class="form-control" />
                    <ValidationMessage For="() => People.EndOfHosting" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="price" class="form-label">Price:</label>
                    <InputNumber id="price" @bind-Value="People.Price" class="form-control" />
                    <ValidationMessage For="() => People.Price" class="text-danger" />
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </EditForm>
        </div>
    </div>
}

<div>
    <a href="/people">Back to List</a>
</div>

@code {
    [SupplyParameterFromQuery]
    public int Id { get; set; }

    [SupplyParameterFromForm]
    public People? People { get; set; }

    protected override async Task OnInitializedAsync()
    {
        People ??= await DB.People.FirstOrDefaultAsync(m => m.Id == Id);

        if (People is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    // To protect from overposting attacks, enable the specific properties you want to bind to.
    // For more details, see https://aka.ms/RazorPagesCRUD.
    public async Task UpdatePeople()
    {
        DB.Attach(People!).State = EntityState.Modified;

        try
        {
            await DB.SaveChangesAsync();
        }
        catch (DbUpdateConcurrencyException)
        {
            if (!PeopleExists(People!.Id))
            {
                NavigationManager.NavigateTo("notfound");
            }
            else
            {
                throw;
            }
        }

        NavigationManager.NavigateTo("/people");
    }

    bool PeopleExists(int id)
    {
        return DB.People.Any(e => e.Id == id);
    }
}
