@page "/people"
@using Microsoft.AspNetCore.Components.QuickGrid
@inject Financias.Models.PeopleContext DB
@using Financias.Models

<PageTitle>Cadastros</PageTitle>

<h1>Usuarios Cadastrados</h1>
<p>
    <a href="people/create">Criar uma nova reserva</a>
</p>

<QuickGrid Class="table" Items="DB.People">
    <PropertyColumn Property="people => people.Name"  /> 
    <PropertyColumn Property="people => people.Description" />
    <PropertyColumn Property="people => people.Phone" />
    <PropertyColumn Property="people => people.StartOfHosting" />
    <PropertyColumn Property="people => people.EndOfHosting" />
    <PropertyColumn Property="people => people.Price" />

    <TemplateColumn Context="people">
        <a href="@($"people/edit?id={people.Id}")">Editar</a> |
        <a href="@($"people/details?id={people.Id}")">Detalhes</a> |
        <a href="@($"people/delete?id={people.Id}")">Excluir</a>
    </TemplateColumn>
</QuickGrid>
